@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B1D21;
  color: #D1D2D3;
}

.highlight {
  color: #D6A939;
  background-color: #393329;
}

p {
  font-size: 3vh;
  margin: 0;
}